build/
bin/
obj/
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.so
*.pyd
__pycache__/
venv/
*.abc
*.blend*
output_frames/
render_cache/
*.mp4
*.wav
!assets/
AppDir/
linuxdeploy-*.AppImage
Vision-IA*.AppImage
.DS_Store
